.swiper {
  width: 100%;
  padding-top: 20px;
  padding-bottom: 20px;
}
.swiper-slide {
  background-position: center;
  background-size: cover;
  width: 65%;
}

.swiper-slide img {
  width: 100%;
  display: flex;
  object-fit: cover;
}

@media (max-width: 1200px) {
  .swiper-slide {
    width: 70%;
  }
}
@media (max-width: 992px) {
  .swiper-slide {
    width: 80%;
  }
}
@media (max-width: 768px) {
  .swiper-slide {
    width: 80%;
  }
  .swiper {
    padding-top: 20px;
    padding-bottom: 20px;
  }
}
@media (max-width: 480px) {
  .swiper-slide {
    width: 85%;
  }
  .swiper {
    padding-top: 20px;
    padding-bottom: 20px;
  }
}
